
.section {
    height: 100vh;
    padding-left: 15vh;
    padding-right: 15vh;
    flex: 1 100%;
}

@media all and (max-width: 800px) {
    .section {
        padding: 0%;
        width: 100vw;
    }
}