.icon {
    border: 3px solid white;
    border-radius: 1em;
    display: inline-block;
    font-size: 2em;
    height: 0.25em;
    margin: 3px;
    width: 0.25em;
    z-index: 1000;
}

.selected {
    background-color: white;
}

.container {
    padding: 15px;
    overflow: hidden;
    position: fixed;
    right: 0vw;
    top: 50vh;
    z-index: 1000;

    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear, visibility 0s;
}

.hide {
    opacity: 0;
    visibility: hidden;
}
