.container {
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1vw 12vw;
    background-color: black;
    z-index: 9999;
}


/* Mobile */
@media all and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.item {
    display: inline-flex;
    padding: 20px;
}
