.container {
    position: fixed;
    width: 100%;
    border: 1px solid black;
    top: 0vh;

    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s linear;
}

.menuContainer {
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #090909;
    z-index: 1000;
    padding: 0px 70px;
}

/* Mobile */
@media all and (max-width: 500px) {
    .menuContainer {
        flex-direction: column;
    }

    .logo {
        visibility: hidden;
        opacity: 0;
    }
}

.item {
    display: inline-flex;
    padding: 20px;
}

.hide {
    visibility: hidden;
    opacity: 0;
}
