::-webkit-scrollbar {
  display: none;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Montserrat', serif;
    letter-spacing: 2px;
  }

  /* We tell all items to be 100% width, via flex-basis */
  .wrapper > * {
    flex: 1 100%;
  }

/* Horizontal Scroll */
.scrollHorizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

h1, h2 {
  letter-spacing: 10px;
}

.sectionHeader {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.scrollHorizontal > .scrollItem {
  flex: 0 0 auto;
}

/* Mobile */
/* @media all and (max-width: 500px) {
  .teamMember {
  }
} */


/* Sections */
.mainLogo {
    width: 100vw;
    height: 100vh;
}

.teamMembersContainer {
  justify-content: center;
}

.contactSection {
  text-align: left;
  justify-content: space-between;
  align-content: space-between;
}

.contactFormSection {
  padding-top: 3vw;
  justify-content: space-between;
  align-content: space-between;
}

.contactFormField {
  width: 300px;
}

.alignRight {
  text-align: right;
}

/* Forms */

.formStyle{
  background: #000000;
  color: #FFFFFF;
}

.formStyle input[type="text"],
.formStyle input[type="date"],
.formStyle input[type="datetime"],
.formStyle input[type="email"],
.formStyle input[type="number"],
.formStyle input[type="search"],
.formStyle input[type="time"],
.formStyle input[type="url"],
.formStyle input[type="password"],
.formStyle textarea,
.formStyle select
{
  font-size: medium;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: solid #FFFFFF;
  background: transparent;
  width: 100%;
  height: 30px;
  color: #FFFFFF;
  border-bottom-width: 1px;
  -webkit-transition: border-bottom-width 0.1s linear; /* Safari */
  transition: border-bottom-width 0.1s linear;
  margin-bottom: 15px;
}

.formStyle textarea {
  border: 1px solid #FFFFFF;
  resize: vertical;
  overflow: auto;
  height: 15vh;
  margin-top: 15px;

  -webkit-transition: border-width 0.1s linear; /* Safari */
  transition: border-width 0.1s linear, visibility 0s, opacity 1s linear;
}

.formStyle .submit {
  border-radius: 5px;
  -webkit-transition: border-width 0.1s linear; /* Safari */
  transition: border-width 0.1s linear, visibility 0s, opacity 1s linear;
}


.formStyle input:focus,
.formStyle textarea:focus,
.formStyle .submit:hover
{
  border-width: 3px;
}

.buttonLarge {
  padding: 8px;
  border: 1px white solid;
}

/* end forms */


/* Flex */
.flexContainer {
  box-orient: horizontal;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.spaceBetween {
  justify-content: space-between;
  align-content: space-between;
}
/* end flex */

.hide {
    visibility: hidden;
    opacity: 0;
}