
.wrapper {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Montserrat', serif;
  }

  /* We tell all items to be 100% width, via flex-basis */
  .wrapper > * {
    flex: 1 100%;
  }

/* Horizontal Scroll */
.scrollHorizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scrollHorizontal > .scrollItem {
  flex: 0 0 auto;
}

/* Mobile */
/* @media all and (max-width: 500px) {
  .teamMember {

  }
} */
